:root {
  --primary-color: #4c4c4c;
  --secondary-color: #ededed;
  --thirdly-color: #fff;
  --primary-button-color: #ed1c24;
  --secondary-button-color: #151515;
  --mask-hero-color-rgba-80: rgba(35, 60, 92, 0.8);
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* ---------GLOBAL FONT STYLE--------- */
h1 {
  font-size: 48px;
}

h1,
.hero-into-text-big {
  margin-bottom: 24px;
}

.hero-into-text-big {
  font-size: 22px;
}

h2 {
  font-size: 40px;
  margin-bottom: 8px;
}

h1,
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h1,
h2,
.hero-into-text-big,
.hero-intro-text,
.intro-text-section {
  letter-spacing: 0px;
}

h2,
.intro-text-section {
  color: var(--primary-color);
}

.intro-text-section {
  font-weight: 400;
}

/* ------COMPONENTS--------- */
/* BUTTONS */
.hero-button,
.explore-button,
.add-cart-button {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.hero-button {
  padding: 12px 16px;
  border: 2px solid transparent;
  color: var(--thirdly-color);
  background-color: var(--primary-button-color);
}

.hero-button:hover {
  border: solid;
  cursor: pointer;
  border-color: var(--primary-button-color);
  color: var(--primary-button-color);
  background-color: var(--thirdly-color);
}

.explore-button {
  display: inline-block;
  margin-bottom: 16px;
  padding: 12px 154px;
  border: 1px solid var(--secondary-button-color);
  color: var(--secondary-button-color);
  background-color: var(--thirdly-color);
}

.explore-button:hover {
  cursor: pointer;
  color: var(--thirdly-color);
  background-color: var(--secondary-button-color);
}

.add-cart-button {
  display: inline-block;
  padding: 12px 62.5px;
  border: 2px solid var(--primary-button-color);
  color: var(--primary-button-color);
  background-color: var(--thirdly-color);
}

.add-cart-button:hover {
  cursor: pointer;
  border-color: var(--primary-button-color);
  color: var(--thirdly-color);
  background-color: var(--primary-button-color);
}

/* CARDS */
/* route section cards */
.route-card {
  text-align: center;
  max-width: 480px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
  background-color: var(--thirdly-color);
}

.route-card-icon {
  margin: 16px 0;
}

.route-card-heading {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: var(--secondary-button-color);
}

.route-card-text {
  margin-bottom: 24px;
  letter-spacing: 0px;
  color: var(--primary-color);
}

/* Training section video card */
.video-card {
  max-width: 302px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
}

.video-player {
  position: relative;
}

.workout-video {
  margin-bottom: 16px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.video-duration {
  position: absolute;
  bottom: 35px;
  right: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.video-description {
  margin: 0 16px 16px 16px;
}

.video-card-title {
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0px;
  margin-bottom: 9px;
}

.video-card-text {
  font-size: 14px;
  color: #666;
}
/* Bundles section card */
.bundle-card {
  max-width: 350px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
  background-color: var(--thirdly-color);
}

.bundle-card,
.bundle-card-image {
  border-radius: 15px;
}

.bundle-card-image-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.bundle-card-image-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 1;
}

.bundle-card-text-wrapper {
  position: absolute;
  bottom: 30px;
  left: 10px;
  margin: 0 auto;
  color: var(--thirdly-color);
  z-index: 2;
}

.bundle-card-title {
  margin-bottom: 9px;
  font-size: 20px;
  font-weight: 700;
}

.bundle-card-title-intro {
  font-size: 14px;
}

.bundle-card h4,
.bundle-card li {
  font-size: 14px;
  letter-spacing: 0px;
}

.bundle-card h4 {
  margin: 0 0 16px 16px;
}

.products-list {
  margin-bottom: 16px;
}

.bundle-card li {
  margin: 0 0 8px 24px;
  list-style-type: disc;
}

.bundle-card li::marker {
  color: var(--primary-button-color);
}

.price-wrapper {
  margin: 0 0 16px 16px;
}

.old-price {
  margin-bottom: 4px;
  font-size: 12px;
  text-decoration: line-through;
  color: var(--primary-color);
}

.sale {
  display: inline-block;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--thirdly-color);
  background-color: var(--primary-button-color);
}

.new-price {
  font-size: 18px;
  font-weight: 700;
  color: #231f20;
}

.add-cart-button-wrapper {
  padding-bottom: 16px;
  text-align: center;
}

/* ---------SECTIONS--------- */
/* global sections color */
.route-section,
.bundles-section {
  background-color: var(--secondary-color);
}

/* global sections paddings */
.route-cards-container,
.video-cards-container,
.bundle-cards-container {
  padding-bottom: 64px;
}

/* HERO SECTION */
.hero-section {
  height: 502px;
  background-image: linear-gradient(
      var(--mask-hero-color-rgba-80),
      var(--mask-hero-color-rgba-80)
    ),
    url(./Assets/images/mountains-line.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-container {
  max-width: 836px;
  padding-top: 64px;
  margin: 0 auto 56px auto;
  color: var(--thirdly-color);
}
/* ROUTE SECTION */
.text-container {
  margin-bottom: 40px;
  text-align: center;
}

.text-container h2 {
  padding-top: 64px;
}

.route-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 480px);
  gap: 40px;
  justify-content: center;
}

/* TRAINING SECTION */
.video-cards-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* BUNDLES SECTION */
.bundle-cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}
