:root {
  --primary-color: #4c4c4c;
  --secondary-color: #ededed;
  --thirdly-color: #fff;
  --primary-button-color: #ed1c24;
  --secondary-button-color: #151515;
  --mask-hero-color-rgba-80: rgba(35, 60, 92, 0.8);
}

body {
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* ---------FONT STYLE--------- */
h1 {
  font-size: 48px;
}

h1,
.hero-into-text-big {
  margin-bottom: 24px;
}

.hero-into-text-big {
  font-size: 22px;
}

h2 {
  font-size: 40px;
}

h1,
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h1,
h2,
.hero-into-text-big,
.hero-intro-text,
.intro-text-section {
  letter-spacing: 0px;
}

h2,
.intro-text-section {
  color: var(--primary-color);
}

.intro-text-section {
  font-weight: 400;
}

/* ------COMPONENTS--------- */
/* BUTTONS */
.hero-button,
.explore-button,
.add-cart-button {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.hero-button {
  padding: 12px 16px;
  border: 2px solid transparent;
  color: var(--thirdly-color);
  background-color: var(--primary-button-color);
}

.hero-button:hover {
  border: solid;
  cursor: pointer;
  border-color: var(--primary-button-color);
  color: var(--primary-button-color);
  background-color: var(--thirdly-color);
}

.explore-button {
  display: inline-block;
  margin-bottom: 16px;
  padding: 12px 154px;
  border: 1px solid var(--secondary-button-color);
  color: var(--secondary-button-color);
  background-color: var(--thirdly-color);
}

.explore-button:hover {
  cursor: pointer;
  color: var(--thirdly-color);
  background-color: var(--secondary-button-color);
}

.add-cart-button {
  padding: 12px 62.5px;
  border: 2px solid var(--primary-button-color);
  color: var(--primary-button-color);
  background-color: var(--thirdly-color);
}

.add-cart-button:hover {
  cursor: pointer;
  border-color: var(--primary-button-color);
  color: var(--thirdly-color);
  background-color: var(--primary-button-color);
}

/* CARDS */
/* route section cards */
.route-card {
  text-align: center;
  max-width: 480px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
}

.route-card-icon {
  margin: 16px 0;
}

.route-card-heading {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: var(--secondary-button-color);
}

.route-card-text {
  margin-bottom: 24px;
  letter-spacing: 0px;
  color: var(--primary-color);
}
/* ---------SECTIONS--------- */
/* HERO SECTION */
.hero-section {
  height: 502px;
  background-image: linear-gradient(
      var(--mask-hero-color-rgba-80),
      var(--mask-hero-color-rgba-80)
    ),
    url(./Assets/images/mountains-line.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-container {
  max-width: 836px;
  padding-top: 64px;
  margin: 0 auto 56px auto;
  color: var(--thirdly-color);
}
/* ROUTE SECTION */
